{% load static %}
{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{% static '/lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/lib/css/mysystem.css' %}">
    <link  rel="stylesheet" href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
    <script src = "http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    {% block customer_header %}
    {% endblock %}
</head>

<body>
{%  include  "_navbar.html" %}

{% include  "_sidebar.html" %}


{% block content %}
{% endblock %}
</body>
{% block custom_footer %}
{% endblock %}
<script src = "{% static  '/lib/js/jquery-1.11.1.min.js'%}">  </script>
<script src = "{% static  '/lib/js/datatables/datatables.min.js' %}">  </script>

<script src="{% static '/lib/js/jquery-1.11.1.min.js' %}"> </script>
<script src="{% static '/lib/js/bootstrap.min.js' %}"></script>
<script src="{% static '/lib/js/datatables/datatables.min.js' %}"> </script>

<script src="{% static '/lib/js/incubator-echarts-4.1.0/dist/echarts.min.js' %}"></script>
<script src="{% static '/lib/js/china.js' %}"></script>

{% block customer_js %}
{% endblock %}
</html>


